@font-face {
    font-family: 'Transducer Test Medium Condensed Oblique';
    src: url('/font/Transducer-MediumCondensedOblique.eot');
    src: url('/font/Transducer-MediumCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Transducer Test Medium Condensed Oblique';
    src: url('/font/Transducer-MediumCondensedOblique.eot');
    src: url('/font/Transducer-MediumCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Transducer Test Medium Condensed Oblique';
    src: url('/font/Transducer-MediumCondensedOblique_1.eot');
    src: url('/font/Transducer-MediumCondensedOblique_1.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique_1.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique_1.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique_1.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Transducer Test Medium Condensed Oblique';
    src: url('/font/Transducer-MediumCondensedOblique_2.eot');
    src: url('/font/Transducer-MediumCondensedOblique_2.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique_2.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique_2.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique_2.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Transducer Test Medium Condensed Oblique';
    src: url('/font/Transducer-MediumCondensedOblique_3.eot');
    src: url('/font/Transducer-MediumCondensedOblique_3.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique_3.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique_3.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique_3.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Transducer Test Medium Condensed Oblique';
    src: url('/font/Transducer-MediumCondensedOblique_4.eot');
    src: url('/font/Transducer-MediumCondensedOblique_4.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique_4.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique_4.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique_4.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Acumin Pro Wide';
    src: url('/font/AcuminProWide-Regular.eot');
    src: url('/font/AcuminProWide-Regular.eot?#iefix') format('embedded-opentype'),
        url('/font/AcuminProWide-Regular.woff2') format('woff2'),
        url('/font/AcuminProWide-Regular.woff') format('woff'),
        url('/font/AcuminProWide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Transducer Test Condensed';
    src:url('/font/Transducer-BoldCondensed.woff2') format('woff2'),
    url('/font/Transducer-BoldCondensed.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer Test Condensed';
    src: url('/font/Transducer-BoldCondensed.woff2') format('woff2'),
    url('/font/Transducer-BoldCondensed.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer Test Condensed';
    src: url('/font/Transducer-BoldCondensed.woff2') format('woff2'),
    url('/font/Transducer-BoldCondensed.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-CondensedBold.eot');
    src: url('/font/Transducer-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-CondensedBold.woff2') format('woff2'),
        url('/font/Transducer-CondensedBold.woff') format('woff'),
        url('/font/Transducer-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('/font/AcuminPro-Regular.eot');
    src: url('/font/AcuminPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/font/AcuminPro-Regular.woff2') format('woff2'),
        url('/font/AcuminPro-Regular.woff') format('woff'),
        url('/font/AcuminPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('/font/AcuminPro-Bold.eot');
    src: url('/font/AcuminPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/font/AcuminPro-Bold.woff2') format('woff2'),
        url('/font/AcuminPro-Bold.woff') format('woff'),
        url('/font/AcuminPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('/font/AcuminPro-Italic.eot');
    src: url('/font/AcuminPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('/font/AcuminPro-Italic.woff2') format('woff2'),
        url('/font/AcuminPro-Italic.woff') format('woff'),
        url('/font/AcuminPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('/font/AcuminPro-BoldItalic.eot');
    src: url('/font/AcuminPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/AcuminPro-BoldItalic.woff2') format('woff2'),
        url('/font/AcuminPro-BoldItalic.woff') format('woff'),
        url('/font/AcuminPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BoldCondensedOblique.eot');
    src: url('/font/Transducer-BoldCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BoldCondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-BoldCondensedOblique.woff') format('woff'),
        url('/font/Transducer-BoldCondensedOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BlackCondensed.eot');
    src: url('/font/Transducer-BlackCondensed.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BlackCondensed.woff2') format('woff2'),
        url('/font/Transducer-BlackCondensed.woff') format('woff'),
        url('/font/Transducer-BlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BoldOblique.eot');
    src: url('/font/Transducer-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BoldOblique.woff2') format('woff2'),
        url('/font/Transducer-BoldOblique.woff') format('woff'),
        url('/font/Transducer-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BoldCondensed.eot');
    src: url('/font/Transducer-BoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BoldCondensed.woff2') format('woff2'),
        url('/font/Transducer-BoldCondensed.woff') format('woff'),
        url('/font/Transducer-BoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-MediumCondensed.eot');
    src: url('/font/Transducer-MediumCondensed.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensed.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensed.woff') format('woff'),
        url('/font/Transducer-MediumCondensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-HairlineCondensedOblique.eot');
    src: url('/font/Transducer-HairlineCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-HairlineCondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-HairlineCondensedOblique.woff') format('woff'),
        url('/font/Transducer-HairlineCondensedOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BlackCondensedOblique.eot');
    src: url('/font/Transducer-BlackCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BlackCondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-BlackCondensedOblique.woff') format('woff'),
        url('/font/Transducer-BlackCondensedOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-Bold.eot');
    src: url('/font/Transducer-Bold.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-Bold.woff2') format('woff2'),
        url('/font/Transducer-Bold.woff') format('woff'),
        url('/font/Transducer-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-HairlineCondensed.eot');
    src: url('/font/Transducer-HairlineCondensed.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-HairlineCondensed.woff2') format('woff2'),
        url('/font/Transducer-HairlineCondensed.woff') format('woff'),
        url('/font/Transducer-HairlineCondensed.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-Black.eot');
    src: url('/font/Transducer-Black.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-Black.woff2') format('woff2'),
        url('/font/Transducer-Black.woff') format('woff'),
        url('/font/Transducer-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-MediumCondensedOblique.eot');
    src: url('/font/Transducer-MediumCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumCondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-MediumCondensedOblique.woff') format('woff'),
        url('/font/Transducer-MediumCondensedOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BlackOblique.eot');
    src: url('/font/Transducer-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BlackOblique.woff2') format('woff2'),
        url('/font/Transducer-BlackOblique.woff') format('woff'),
        url('/font/Transducer-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BoldExtendedOblique.eot');
    src: url('/font/Transducer-BoldExtendedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BoldExtendedOblique.woff2') format('woff2'),
        url('/font/Transducer-BoldExtendedOblique.woff') format('woff'),
        url('/font/Transducer-BoldExtendedOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-ExtendedOblique.eot');
    src: url('/font/Transducer-ExtendedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-ExtendedOblique.woff2') format('woff2'),
        url('/font/Transducer-ExtendedOblique.woff') format('woff'),
        url('/font/Transducer-ExtendedOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-MediumExtended.eot');
    src: url('/font/Transducer-MediumExtended.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumExtended.woff2') format('woff2'),
        url('/font/Transducer-MediumExtended.woff') format('woff'),
        url('/font/Transducer-MediumExtended.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-HairlineOblique.eot');
    src: url('/font/Transducer-HairlineOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-HairlineOblique.woff2') format('woff2'),
        url('/font/Transducer-HairlineOblique.woff') format('woff'),
        url('/font/Transducer-HairlineOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BlackExtendedOblique.eot');
    src: url('/font/Transducer-BlackExtendedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BlackExtendedOblique.woff2') format('woff2'),
        url('/font/Transducer-BlackExtendedOblique.woff') format('woff'),
        url('/font/Transducer-BlackExtendedOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-Hairline.eot');
    src: url('/font/Transducer-Hairline.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-Hairline.woff2') format('woff2'),
        url('/font/Transducer-Hairline.woff') format('woff'),
        url('/font/Transducer-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-HairlineExtended.eot');
    src: url('/font/Transducer-HairlineExtended.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-HairlineExtended.woff2') format('woff2'),
        url('/font/Transducer-HairlineExtended.woff') format('woff'),
        url('/font/Transducer-HairlineExtended.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BoldExtended.eot');
    src: url('/font/Transducer-BoldExtended.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BoldExtended.woff2') format('woff2'),
        url('/font/Transducer-BoldExtended.woff') format('woff'),
        url('/font/Transducer-BoldExtended.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-Extended.eot');
    src: url('/font/Transducer-Extended.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-Extended.woff2') format('woff2'),
        url('/font/Transducer-Extended.woff') format('woff'),
        url('/font/Transducer-Extended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-MediumExtendedOblique.eot');
    src: url('/font/Transducer-MediumExtendedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-MediumExtendedOblique.woff2') format('woff2'),
        url('/font/Transducer-MediumExtendedOblique.woff') format('woff'),
        url('/font/Transducer-MediumExtendedOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-HairlineExtendedOblique.eot');
    src: url('/font/Transducer-HairlineExtendedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-HairlineExtendedOblique.woff2') format('woff2'),
        url('/font/Transducer-HairlineExtendedOblique.woff') format('woff'),
        url('/font/Transducer-HairlineExtendedOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-BlackExtended.eot');
    src: url('/font/Transducer-BlackExtended.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-BlackExtended.woff2') format('woff2'),
        url('/font/Transducer-BlackExtended.woff') format('woff'),
        url('/font/Transducer-BlackExtended.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-CondensedOblique.eot');
    src: url('/font/Transducer-CondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-CondensedOblique.woff2') format('woff2'),
        url('/font/Transducer-CondensedOblique.woff') format('woff'),
        url('/font/Transducer-CondensedOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('/font/Transducer-Condensed.eot');
    src: url('/font/Transducer-Condensed.eot?#iefix') format('embedded-opentype'),
        url('/font/Transducer-Condensed.woff2') format('woff2'),
        url('/font/Transducer-Condensed.woff') format('woff'),
        url('/font/Transducer-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

