@media (min-width: 991px) {
  .d-none-xxl {
    display: none;
  }
  .social-midia-icon {
    padding: 50px 0;
  }
  .xxl-flex-bitween {
    justify-content: space-between;
  }
  .help-sec {
    background-size: cover;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .xxl-w-3 {
    width: 25%;
  }
  .xxl-w-4 {
    width: 33.33%;
  }
  .xxl-w-6 {
    width: 50%;
  }
  .xxl-w-12 {
    width: 100%;
  }
  .d-none-xxl {
    display: none;
  }
  .xxl-flex-bitween {
    flex-direction: row;
  }
  .bike-in {
    width: 100%;
 
    display: none;
  }
  .help-sec {
    background-size: cover;
  }
  .xxl-flex-bitween {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  .gried-in {
    grid-template-columns: 1fr 1fr;
  }
  .menu-headar-li,
  .dropdown-1,
  .dropdown-2 {
    font-size: 18px;
  }
  .ope-circal {
    width: 35px;
    height: 35px;
  }
  .menu-parat {
    gap: 0px;
  }
  .other-optsen {
    gap: 8px;
  }
  .footer-top-title h2 {
    font-size: 25px;
  }
  .logo {
    height: 38px;
    max-width: 178px;
}
}
@media screen and (max-width: 991px) {
  .xl-flex-direction {
    flex-direction: column;
  }
  .xl-d-none {
    display: none;
  }
  .xl-d-block {
    display: flex;
  }
  .xl-order-1 {
    order: 1;
  }
  .bike-in {
    display: block;
  }
  .xl-order-2 {
    order: 2;
  }
  .xl-w-3 {
    width: 25%;
  }
  .xl-w-4 {
    width: 33.33%;
  }
  .xl-w-6 {
    width: 50%;
  }
  .xl-justify-content-center {
    justify-content: center;
  }
  .xl-w-12 {
    width: 100%;
  }
  .xl-flex-direction-column {
    flex-direction: column;
  }
  .xl-gap {
    gap: 30px;
  }
  .main-header {
    padding: 38px 0px 28px 0px;
  }
  .two-col-conten {
    padding: 70px 0 0 0;
  }
  .benar-contan h1 {
    font-size: 40px;
  }
  /* .btn-pramre {
    font-size: 14px;
    padding: 30px 10px;
    max-width: 206px;
  } */
   .benar-contan .btn-pramre {
    font-size: 14px;
    padding: 23px 10px;
    max-width: 196px;
  }
  .btn-second {
    font-size: 14px;
    padding: 23px 10px;
    max-width: 196px;
  }
  .bike-name{
    font-size: 25px;
  }
  .brand-title h2 {
    font-size: 30px;
  }
  .finder-sec-contain h2 {
    font-size: 30px;
  }
  .info-slide-item h3 {
    font-size: 25px;
  }
  .info-slide-item h5 {
    font-size: 12px;
  }
  .help-contain h2 {
    font-size: 30px;
  }
  .help-contain span {
    font-size: 50px;
  }
  .w-40 {
    display: none;
  }
  .w-60 {
    padding-left: 0px;
    width: 100%;
  }
  .gried-in {
    grid-template-columns: 1fr 1fr;
  }
  .finance .d-flex {
    flex-direction: column;
  }
  .two-col-sec1 {
    padding: 0px 0 100px 0;
  }
  .two-col-img{
    margin: 0 -80px;
  }
  .bike-in{
    margin: 0 -80px;
  }
  .box-gap {
    padding: 0 10px 147px 10px;
  }
  .box-gap button{
    top: calc(100% - 180px);
  }
  .xl-order-1{
    order: 1;
  }
  .xl-order-2{
    order: 2;
  }
  .logo {
    height: 50px;
    max-width: 240px;
  }
  .button-group {
    margin-bottom: 60px;
  }
  .banner-sec{
    padding-top: 96px;
  }
  .bennar-bike{
    min-height:100%;
    padding-top: 97px;
  }
  .bennar-bike .d-flex{
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .lg-w-3 {
    width: 25%;
  }
  .lg-w-4 {
    width: 33.33%;
  }
  .lg-w-6 {
    width: 50%;
  }
  .lg-w-12 {
    width: 100%;
  }
  .from-in > .gap {
    gap: 0;
  }
  .lg-none {
    display: none;
  }
  .lg-block {
    display: block;
  }
  .lg-flex-bitween {
    justify-content: space-between;
  }
  .two-col-conten h2 {
    font-size: 30px;
  }
  .two-col-conten p {
    font-size: 16px;
    margin: 28px 0;
  }
  .two-col-conten {
    padding: 70px 0 0 0;
  }
  .bike-in {
    margin-top: 60px;
    display: block;
  }
  .menu-in {
    display: none;
    color: rgb(255, 255, 255);
  }
  .top-header {
    display: none;
  }
  .lg-flex-direction {
    flex-direction: column;
  }
  .lg-order-1 {
    order: 1;
  }
  .contech-icon li {
    max-width: 100%;
  }
  .lg-order-2 {
    order: 2;
  }
  .lg-justify-center {
    justify-content: center;
  }
  .lg-justify-start {
    justify-content: start;
  }
  .lg-justify-content-start {
    justify-content: start;
  }
  .box-bick {
    width: 280px;
  }
  .box-slied {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    padding: 17px;
  }
  .bike-name{
    line-height: 0.6;
    font-size: 16px;
  }
  .bike-prc {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 0px;
  }
  .slide-bike-explore h3 {
    font-size: 30px;
  }
 .gried-in {
    grid-template-columns: 1fr;
  }
  .banner-sec .w-6 {
    margin-left: 0px;
  }
  .benar-contan {
      margin-left: 0px;
  }
  .slide-bike-explore,
  .slide-bike-explore1,
  .slide-bike-explore2,
  .slide-bike-explore3 {
    height: 100%;
    min-height: 226px;
    width: 346px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-bike-explore button {
    position: absolute;
    bottom: -136px;
    font-size: 12px;
    transform: translateX(-50%);
    padding: 40px 0 36px 0;
    max-width: 216px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0 36px;
  }
  .sm-flex-direction {
    flex-direction: column;
  }
  .sm-w-3 {
    width: 25%;
  }
  .sm-w-4 {
    width: 33.33%;
  }
  .sm-w-6 {
    width: 50%;
  }
  .sm-none {
    display: none;
  }
  .sm-w-12 {
    width: 100%;
  }
  .slide-bick-title h3 {
    font-size: 36px;
  }
  .main-header .container{
    padding: 0 15px;
  }
  .slide-bike-sec .slick-prev,.slide-bike-sec .slick-next {
    height:32px;
    top: -68px;
    width:38px ;
    background-size:8px ;
  }
  .slide-bike-sec .slick-prev{
    right: 36px;
  }
}
@media screen and (max-width: 400px){
.toggle-icon {
  display: flex;
  gap: 10px;
}
.box-bick {
  width: 180px;
}
.logo {
  height: 38px;
  max-width: 178px;
}
}
